<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat corp|| login</title>
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/login.css">

</head>
<body>
    <header>
        <h1> chat corp</h1>
        <h2>welcome</h2>
        <img src="Image-109992454066564565404-1-iVBOR.png" alt="">
    </header>
    <main>
        <div id="form">
            <h1>log in to your account</h1>
            <form action="/login" method="post" id="login-form">
                <label for="username">username</label>
                <input type="text" id="username" name="username" required="true">
                <label for="password">password</label>
                <input type="password" id="password" name="password" required="true">
                <button type="submit">submit</button>
            </form>
            <h2 id="signUp-btn">Don't have an account yet ? <a href="/">Create one here!!</a></h2>
            <h3> Forgot password? <a href="/recovery-page">recover here</a></h3>
        </div>
    </main>
    <footer>
        <h2 class="footer">copyright<i class="fas fa-copyright"></i> 2023 - present| chat corp| developed by sizwe| Email:sizwenkala80@gmail.com</h2>
      </footer>
</body>
</html>