<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat corp||forgot password </title>
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="icon" type="image/svg" href="Image-109992454066564565404-1-iVBOR.png">
</head>
<body>
    <header>
        <h1> chat corp</h1>
        <h2>welcome</h2>
        <img src="Image-109992454066564565404-1-iVBOR.png" alt="">
    </header>
    <main>
        <div id="form">
            <h1>Recovery</h1>
            <form action="/recovery" method="post">
                <label for="username">username</label>
                <input type="text" id="username" name="username" placeholder="username...">
                <label for="recovery-question">Recovery question|| what was your nickname in primary school?</label>
                <input type="text" id="recovery-question" name="recoveryQuestion" placeholder="Recovery question...">
                <button type="submit">Recover</button>
            </form>
        </div>
    </main>
    <footer>
        <h2 class="footer">copyright<i class="fas fa-copyright"></i> 2023 - present| chat corp| developed by sizwe| Email:sizwenkala80@gmail.com</h2>
      </footer>
</body>
</html>