*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-image: url("cool-background.png");
    background-repeat: repeat;
}

header{
    background: rgb(63,94,251);
    background: radial-gradient(circle,rgba(63,94,251,1)0%,rgba(0,0,0,1)0%,rgb(3, 18, 87));
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

header > img{
    max-width: 10%;
    border-radius: 50vh;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#users{
    background-color: white;
    width: 45%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    height: 70vh;
    overflow: auto;
}

#userList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    font-weight: bolder;
    padding: 0;
    justify-content: center;
}

#userList > div {
    background-color: rgb(1, 11, 54);
    color: rgba(255, 255, 255, 0.486);
    font-weight: bolder;
    border-bottom: dashed;
    padding: 5px;
}

#userList > div > img{
    max-width: 11%;
    margin: 0;
    border-radius: 60em;
    position: relative;

}

#chats{
    text-align: center;
    background-color: white;
    width: 45%;
    overflow: auto;
    height: 70vh;
}

#chats > div{
    background-color: rgb(1, 11, 54);
    color: rgba(255, 255, 255, 0.486);
    font-weight: bolder;
    border-bottom: dashed;
    padding: 5px;
    margin: 5%; 
}

a:link{
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    text-decoration: none;
}
a:visited{
    color: white;
    font-weight: bolder;
    font-size: 1.3rem; 
}

footer{
    border: 2px solid #3E3E3E;
    background-color: #3E3E3E;
    height: auto;
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 10%;
  }
  .footer > i{
    background-color: transparent;
    color: black;
  }

  @media only screen and (min-width:50px) and (max-width:480px) {
    header > img{
        max-width: 30%;
        border-radius: 50vh;
    }
    #users{
        background-color: white;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px;
        overflow: auto;
    }
    #userList > div {
        background-color: rgb(22, 46, 156);
        color: rgb(255, 255, 255);
        font-weight: bolder;
        border-bottom: dashed;
        padding: 5px;
    }
    h2{
        background: -webkit-linear-gradient(#c75205, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
    h4{
        background: -webkit-linear-gradient(#fff, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        background: -webkit-linear-gradient(#fff, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #userList > div > img{
        max-width: 21%;
        margin: 0;
        border-radius: 60em;
        position: relative;
        padding: 10px;
    
    }

    #chats{
        text-align: center;
        background-color: white;
        width: 85%;
        overflow: auto;
    }
  }

  @media only screen and (min-width:481px) and (max-width:1118px) {
    header > img{
        max-width: 30%;
        border-radius: 50vh;
    }
    #users{
        background-color: white;
        width: 75%;
        text-align: center;
        justify-content: center;
        padding: 10px;
        overflow: auto;
    }

    #userList > div > img{
        max-width: 21%;
        margin: 0;
        border-radius: 60em;
        position: relative;
        padding: 10px;
    
    }

    #chats{
        text-align: center;
        background-color: white;
        width: 75%;
        overflow: auto;
    } 
  }