*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("cool-background.png");
    background-repeat: repeat;
}

<<<<<<< HEAD
/* Style for header section */
header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  h1 {
    margin: 0;
    font-weight: bold;
  }
  
  h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
  }
  
  /* Style for main section */
  main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chat-header {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .message-content {
    margin-top: 10px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sender-me {
    align-self: flex-end;
  }
  
  .chat-message {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .message-sender {
    margin: 0;
    font-weight: bold;
  }
  
  .message-text {
    margin: 5px 0;
  }
  
  #message-image {
    max-width: 100%;
    margin: 5px 0;
  }
  
  .timeStamp {
    margin: 5px 0;
    font-size: 12px;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #message-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #file {
    margin-bottom: 10px;
  }
  
  #sendBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #sendBtn:hover {
    cursor: pointer;
    background-color: #0069d9;
  }
  
=======
header{
    background: rgb(63,94,251);
    background: radial-gradient(circle,rgba(63,94,251,1)0%,rgba(0,0,0,1)0%,rgb(3, 18, 87));
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

#messages{
    margin-top: 3%;
    width: 50%;
    height: 72vh;
    overflow: auto;
    margin-left: 23%;
    background-color: #0a0909;
    padding: 2%;
}
.message-content{
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}
.message-content.sender-me{
    background-color: #007bff;
    color: white;
    margin-left: auto;
    margin-bottom: 2%;
    overflow-wrap: break-word;
}
.message-content.sender-me > p{
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.message-content.sender-others{
    background-color: #f1f0f0;
    color: #333;
    margin-bottom: 2%;
    overflow-wrap: break-word;
}

#message-image{
    max-width: 80%;
}

form{
    margin-top: 0%;
    margin-left: 12%;
}
form > textarea{
    width: 75%;
    border-radius: 2vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form > button{
    width: 5%;
    font-weight: bolder;
    background-color: black;
    color: blue;
}
form > button:hover{
    background-color: white;
}

.message-text{
    font-weight: bolder;
    font-size: 1.3rem;
}
.timeStamp{
font-size: 0.7rem;
}
.message-sender{
    font-size: 0.9rem;
}

@media only screen and (min-width:50px) and (max-width:480px) {
    #messages{
        margin: 1%;
        width: 100%;
        height: 82vh;
        overflow: auto;
        background-color: #0a0909;
        padding: 2%;
    }
    form > button{
        width: 10%;
        font-weight: bolder;
        background-color: black;
        color: blue;
    }

    form{
        margin-top: 0%;
        margin-left: 1%;
    }
    form > textarea{
        width: 100%;
        border-radius: 2vh;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media only screen and (min-width:481px) and (max-width:1118px) {
    #messages{
        margin: 1%;
        margin-left: 3%;
        width: 85%;
        height: 82vh;
        overflow: auto;
        background-color: #0a0909;
        padding: 2%;
    }
    form > button{
        width: 10%;
        font-weight: bolder;
        background-color: black;
        color: blue;
    }

    form{
        margin-top: 0%;
        margin-left: 1%;
    }
    form > textarea{
        width: 85%;
        border-radius: 2vh;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
>>>>>>> b3428462175770651ad3070cc3c345cd9e80059d
