/* Set global styles */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Set styles for header */
header {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}
header img {
  height: 50px;
}
  
  h1 {
    margin: 0;
    font-weight: bold;
  }
  
  h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
  }
  
  /* Style for main section */
  main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #messages{
    background-color: #000000;
    width: 450px;
    color: #fff;
    height: 76vh;
    padding: 1%;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 2%;
  }

  .sender-me{
    background-color: rgba(0, 17, 255, 0.973);
    border-radius: 10px;
    margin: 3%;
    margin-left: 50%;
    overflow-wrap: break-word;
    max-width: 60%;
    padding: 2%;
  }
  .sender-me >div > h4:hover{
    color: red;
  }
  .message-text{
    overflow-wrap: break-word;
    font-weight: bolder;
  }
  .sender-others{
    background-color: #ffffffc2;
    max-width: 60%;
    border-radius: 10px;
    margin: 3%;
    padding: 2%;
    overflow-wrap: break-word;
    color: black;
  }
.sender-others >div > h4{
  display: none;
}
  form{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    padding: 2px;
  }

  #message-input{
    width: 60%;
    margin: 0;
    margin-left: 5%;
    background-color: #ffffff;
    text-align: center;
    border: 2px solid black;
  }

  button[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0D47A1;
  }

  #file{
    color: white;
    font-weight: bolder;
  }